<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>ee6b0ae7c80a1605fe528f83</string>
	<key>channel</key>
	<string></string>
	<key>advertisingId</key>
	<string></string>
	<key>isProduction</key>
	<true/>
	<key>wechatAppId</key>
	<string>wxc40e16f3ba6ebabc</string>
	<key>wechatAppSecret</key>
	<string>dcad950cd0633a27e353477c4ec12e7a</string>
	<key>qqAppId</key>
	<string>1110206324</string>
	<key>qqAppKey</key>
	<string>Q1A6x4ZpQPr9kXs0</string>
	<key>sinaWeiboAppKey</key>
	<string>1912593481</string>
	<key>sinaWeiboAppSecret</key>
	<string>addb2a629134f52b02de9cad184034a6</string>
	<key>sinaRedirectUri</key>
	<string>https://www.jiguang.cn</string>
	<key>facebookAppId</key>
	<string>177776412817787</string>
	<key>facebookDisplayName</key>
	<string>HuminiOS</string>
	<key>isSupportWebSina</key>
	<true/>
</dict>
</plist>
